
  .body-1264473 .header {
    position: absolute;
    top: 0.05px;
    left: 0px;
    width: 1440px;
    height: 72px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    flex-wrap: wrap;
    row-gap: 10px;
    column-gap: 10px;
    padding: 16px 0px 16px 0px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%), linear-gradient(180deg, #111827 0%, #1f2937 100%);
  }
  .body-1264473 .header .nav {
    position: absolute;
    top: 16px;
    left: 0px;
    width: 1440px;
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    flex-wrap: wrap;
    row-gap: 10px;
    column-gap: 10px;
    padding: 0px 32px 0px 32px;
    background: rgba(0, 0, 0, 0);
  }
  .body-1264473 .header .nav .div {
    position: absolute;
    top: 0px;
    left: 32px;
    width: 1376px;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 0px;
    background: rgba(0, 0, 0, 0);
  }
  .body-1264473 .header .nav .div .img {
    position: absolute;
    top: 4px;
    left: 0px;
    width: 32px;
    height: 32px;
    background: url(https://image-resource.creatie.ai/153771126248615/153771126248617/75b3ef6bdbfeed6aa6499fc1a28b8188.png), rgba(0, 0, 0, 0);
    object-fit: cover;
    background-size: cover;
  }
  .body-1264473 .header .nav .div .button {
    position: absolute;
    top: 0px;
    left: 1249.05px;
    width: 126.95px;
    height: 40px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    flex-wrap: wrap;
    row-gap: 10px;
    column-gap: 10px;
    padding: 8px 24px 8px 24px;
    background: #000000;
  }
  .body-1264473 .header .nav .div .button .contact-us {
    position: absolute;
    top: 8px;
    left: 23.98px;
    width: 79px;
    height: 24px;
    white-space: nowrap;
    color: #FFFFFF;
    font-family: "Roboto";
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    text-align: center;
  }
  .body-1264473 .main {
    position: absolute;
    top: 72.05px;
    left: 0px;
    width: 1440px;
    height: 2204px;
    background: rgba(0, 0, 0, 0);
  }
  .body-1264473 .main .section {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 1440px;
    height: 824px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    flex-wrap: wrap;
    row-gap: 10px;
    column-gap: 10px;
    padding: 80px 0px 80px 0px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%), linear-gradient(180deg, #111827 0%, #1f2937 100%);
  }
  .body-1264473 .main .section .div-1 {
    position: absolute;
    top: 80px;
    left: 0px;
    width: 1440px;
    height: 664px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    flex-wrap: wrap;
    row-gap: 10px;
    column-gap: 10px;
    padding: 0px 32px 0px 32px;
    background: rgba(0, 0, 0, 0);
  }
  .body-1264473 .main .section .div-1 .div-2 {
    position: absolute;
    top: 0px;
    left: 32px;
    width: 1376px;
    height: 664px;
    background: rgba(0, 0, 0, 0);
  }
  .body-1264473 .main .section .div-1 .div-2 .div-3 {
    position: absolute;
    top: 62px;
    left: 0px;
    width: 664px;
    height: 540px;
    background: rgba(0, 0, 0, 0);
  }
  .body-1264473 .main .section .div-1 .div-2 .div-3 .h1 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 664px;
    height: 96px;
    background: rgba(0, 0, 0, 0);
  }
  .body-1264473 .main .section .div-1 .div-2 .div-3 .h1 .break-free-from-loan-emis-in-3-simple-steps {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 636px;
    height: 96px;
    white-space: nowrap;
    color: #FFFFFF;
    font-family: "Roboto";
    font-size: 48px;
    line-height: 48px;
    font-weight: 700;
  }
  .body-1264473 .main .section .div-1 .div-2 .div-3 .p {
    position: absolute;
    top: 120px;
    left: 0px;
    width: 664px;
    height: 28px;
    background: rgba(0, 0, 0, 0);
  }
  .body-1264473 .main .section .div-1 .div-2 .div-3 .p .join-our-699-exclusive-webinar-program-and-receive {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 486px;
    height: 28px;
    white-space: nowrap;
    color: #FFFFFF;
    font-family: "Roboto";
    font-size: 20px;
    line-height: 28px;
    font-weight: 400;
  }
  .body-1264473 .main .section .div-1 .div-2 .div-3 .div-4 {
    position: absolute;
    top: 180px;
    left: 0px;
    width: 664px;
    height: 104px;
    background: rgba(0, 0, 0, 0);
  }
  .body-1264473 .main .section .div-1 .div-2 .div-3 .div-4 .div-5 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 664px;
    height: 24px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 0px;
    background: rgba(0, 0, 0, 0);
  }
  .body-1264473 .main .section .div-1 .div-2 .div-3 .div-4 .div-5 .svg {
    position: absolute;
    top: 3.95px;
    left: 0px;
    width: 16px;
    height: 16px;
  }
  .body-1264473 .main .section .div-1 .div-2 .div-3 .div-4 .div-5 .span {
    position: absolute;
    top: 0px;
    left: 28px;
    width: 198.17px;
    height: 24px;
    background: rgba(0, 0, 0, 0);
  }
  .body-1264473 .main .section .div-1 .div-2 .div-3 .div-4 .div-5 .span .expert-financial-mentorship {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 199px;
    height: 24px;
    white-space: nowrap;
    color: #FFFFFF;
    font-family: "Roboto";
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
  }
  .body-1264473 .main .section .div-1 .div-2 .div-3 .div-4 .div-6 {
    position: absolute;
    top: 40px;
    left: 0px;
    width: 664px;
    height: 24px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 0px;
    background: rgba(0, 0, 0, 0);
  }
  .body-1264473 .main .section .div-1 .div-2 .div-3 .div-4 .div-6 .svg-1 {
    position: absolute;
    top: 3.95px;
    left: 0px;
    width: 16px;
    height: 16px;
  }
  .body-1264473 .main .section .div-1 .div-2 .div-3 .div-4 .div-6 .span-1 {
    position: absolute;
    top: 0px;
    left: 28px;
    width: 321.19px;
    height: 24px;
    background: rgba(0, 0, 0, 0);
  }
  .body-1264473 .main .section .div-1 .div-2 .div-3 .div-4 .div-6 .span-1 .monthly-financial-support-for-1000-members {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 322px;
    height: 24px;
    white-space: nowrap;
    color: #FFFFFF;
    font-family: "Roboto";
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
  }
  .body-1264473 .main .section .div-1 .div-2 .div-3 .div-4 .div-7 {
    position: absolute;
    top: 80px;
    left: 0px;
    width: 664px;
    height: 24px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 0px;
    background: rgba(0, 0, 0, 0);
  }
  .body-1264473 .main .section .div-1 .div-2 .div-3 .div-4 .div-7 .svg-2 {
    position: absolute;
    top: 3.95px;
    left: 0px;
    width: 16px;
    height: 16px;
  }
  .body-1264473 .main .section .div-1 .div-2 .div-3 .div-4 .div-7 .span-2 {
    position: absolute;
    top: 0px;
    left: 28px;
    width: 258.61px;
    height: 24px;
    background: rgba(0, 0, 0, 0);
  }
  .body-1264473 .main .section .div-1 .div-2 .div-3 .div-4 .div-7 .span-2 .access-to-elite-financial-community {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 259px;
    height: 24px;
    white-space: nowrap;
    color: #FFFFFF;
    font-family: "Roboto";
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
  }
  .body-1264473 .main .section .div-1 .div-2 .div-3 .div-8 {
    position: absolute;
    top: 316px;
    left: 0px;
    width: 664px;
    height: 132px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    flex-wrap: wrap;
    row-gap: 10px;
    column-gap: 10px;
    padding: 24px;
    background: #1F2937;
  }
  .body-1264473 .main .section .div-1 .div-2 .div-3 .div-8 .div-9 {
    position: absolute;
    top: 24px;
    left: 24px;
    width: 616px;
    height: 20px;
    background: rgba(0, 0, 0, 0);
  }
  .body-1264473 .main .section .div-1 .div-2 .div-3 .div-8 .div-9 .limited-time-offer {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 117px;
    height: 20px;
    white-space: nowrap;
    color: #FFFFFF;
    font-family: "Roboto";
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
  }
  .body-1264473 .main .section .div-1 .div-2 .div-3 .div-8 .div-10 {
    position: absolute;
    top: 52px;
    left: 24px;
    width: 616px;
    height: 32px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 0px;
    background: rgba(0, 0, 0, 0);
  }
  .body-1264473 .main .section .div-1 .div-2 .div-3 .div-8 .div-10 .div-11 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 153.61px;
    height: 32px;
    background: rgba(0, 0, 0, 0);
  }
  .body-1264473 .main .section .div-1 .div-2 .div-3 .div-8 .div-10 .div-11 .span-3 {
    position: absolute;
    top: 2px;
    left: 0px;
    width: 41.31px;
    height: 28px;
    background: rgba(0, 0, 0, 0);
  }
  .body-1264473 .main .section .div-1 .div-2 .div-3 .div-8 .div-10 .div-11 .span-3 .text-284 {
    position: absolute;
    top: -2px;
    left: 0px;
    width: 42px;
    height: 32px;
    white-space: nowrap;
    color: #FFFFFF;
    font-family: "Roboto";
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
  }
  .body-1264473 .main .section .div-1 .div-2 .div-3 .div-8 .div-10 .div-11 .text {
    position: absolute;
    top: 7px;
    left: 41.31px;
    width: 1px;
    height: 24px;
    white-space: nowrap;
    color: #FFFFFF;
    font-family: "Roboto";
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
  }
  .body-1264473 .main .section .div-1 .div-2 .div-3 .div-8 .div-10 .div-11 .span-4 {
    position: absolute;
    top: 9px;
    left: 45.28px;
    width: 108.33px;
    height: 19px;
    background: rgba(0, 0, 0, 0);
  }
  .body-1264473 .main .section .div-1 .div-2 .div-3 .div-8 .div-10 .div-11 .span-4 .text-1000-slots-left {
    position: absolute;
    top: -2px;
    left: 0px;
    width: 109px;
    height: 24px;
    white-space: nowrap;
    color: #9CA3AF;
    font-family: "Roboto";
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
  }
  .body-1264473 .main .section .div-1 .div-2 .div-3 .div-8 .div-10 .div-12 {
    position: absolute;
    top: 2px;
    left: 461.02px;
    width: 154.98px;
    height: 28px;
    background: rgba(0, 0, 0, 0);
  }
  .body-1264473 .main .section .div-1 .div-2 .div-3 .div-8 .div-10 .div-12 .timer {
    position: absolute;
    top: 2px;
    left: 0px;
    width: 80.14px;
    height: 24px;
    background: rgba(0, 0, 0, 0);
  }
  .body-1264473 .main .section .div-1 .div-2 .div-3 .div-8 .div-10 .div-12 .timer .text-020000 {
    position: absolute;
    top: -2px;
    left: 0px;
    width: 81px;
    height: 28px;
    white-space: nowrap;
    color: #FFFFFF;
    font-family: "Roboto";
    font-size: 20px;
    line-height: 28px;
    font-weight: 700;
  }
  .body-1264473 .main .section .div-1 .div-2 .div-3 .div-8 .div-10 .div-12 .text-1 {
    position: absolute;
    top: 4px;
    left: 80.14px;
    width: 1px;
    height: 24px;
    white-space: nowrap;
    color: #FFFFFF;
    font-family: "Roboto";
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
  }
  .body-1264473 .main .section .div-1 .div-2 .div-3 .div-8 .div-10 .div-12 .span-5 {
    position: absolute;
    top: 6px;
    left: 84.11px;
    width: 70.88px;
    height: 19px;
    background: rgba(0, 0, 0, 0);
  }
  .body-1264473 .main .section .div-1 .div-2 .div-3 .div-8 .div-10 .div-12 .span-5 .remaining {
    position: absolute;
    top: -2px;
    left: 0px;
    width: 71px;
    height: 24px;
    white-space: nowrap;
    color: #9CA3AF;
    font-family: "Roboto";
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
  }
  .body-1264473 .main .section .div-1 .div-2 .div-3 .div-8 .div-13 {
    position: absolute;
    top: 100px;
    left: 24px;
    width: 616px;
    height: 8px;
    border-radius: 9999px;
    overflow: hidden;
    background: #374151;
  }
  .body-1264473 .main .section .div-1 .div-2 .div-3 .div-8 .div-13 .div-14 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 462px;
    height: 8px;
    background: #EB2828;
  }
  .body-1264473 .main .section .div-1 .div-2 .div-3 .button-1 {
    position: absolute;
    top: 480px;
    left: 0px;
    width: 469.75px;
    height: 60px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    flex-wrap: wrap;
    row-gap: 10px;
    column-gap: 10px;
    padding: 16px 32px 16px 32px;
    background: #EB2828;
  }
  .body-1264473 .main .section .div-1 .div-2 .div-3 .button-1 .enroll-now-first-100-get-extra-5000-support {
    position: absolute;
    top: 16px;
    left: 34px;
    width: 378px;
    height: 28px;
    white-space: nowrap;
    color: #FFFFFF;
    font-family: "Roboto";
    font-size: 18px;
    line-height: 28px;
    font-weight: 700;
    text-align: center;
  }
  .body-1264473 .main .section .div-1 .div-2 .div-3 .button-1 .svg-3 {
    position: absolute;
    top: 19.95px;
    left: 422px;
    width: 15.75px;
    height: 18px;
  }
  .body-1264473 .main .section .div-1 .div-2 .div-15 {
    position: absolute;
    top: 0px;
    left: 712px;
    width: 664px;
    height: 664px;
    background: rgba(0, 0, 0, 0);
  }
  .body-1264473 .main .section .div-1 .div-2 .div-15 .img-1 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 664px;
    height: 664px;
    background: url(https://image-resource.creatie.ai/153771126248615/153771126248617/438daddfc2d4f3a4083a2f9738d00c08.png), rgba(0, 0, 0, 0);
    object-fit: cover;
    background-size: cover;
  }
  .body-1264473 .main .section-1 {
    position: absolute;
    top: 824px;
    left: 0px;
    width: 1440px;
    height: 456px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    flex-wrap: wrap;
    row-gap: 10px;
    column-gap: 10px;
    padding: 80px 0px 80px 0px;
    background: rgba(0, 0, 0, 0);
  }
  .body-1264473 .main .section-1 .div-16 {
    position: absolute;
    top: 80px;
    left: 0px;
    width: 1440px;
    height: 296px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    flex-wrap: wrap;
    row-gap: 10px;
    column-gap: 10px;
    padding: 0px 32px 0px 32px;
    background: rgba(0, 0, 0, 0);
  }
  .body-1264473 .main .section-1 .div-16 .h2 {
    position: absolute;
    top: 0px;
    left: 32px;
    width: 1376px;
    height: 36px;
    background: rgba(0, 0, 0, 0);
  }
  .body-1264473 .main .section-1 .div-16 .h2 .why-choose-our-program {
    position: absolute;
    top: 0px;
    left: 506.49px;
    width: 363px;
    height: 36px;
    white-space: nowrap;
    color: #000000;
    font-family: "Roboto";
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    text-align: center;
  }
  .body-1264473 .main .section-1 .div-16 .div-17 {
    position: absolute;
    top: 84px;
    left: 32px;
    width: 1376px;
    height: 212px;
    background: rgba(0, 0, 0, 0);
  }
  .body-1264473 .main .section-1 .div-16 .div-17 .div-18 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 437.33px;
    height: 212px;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    flex-wrap: wrap;
    row-gap: 10px;
    column-gap: 10px;
    padding: 32px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%), #ffffff;
  }
  .body-1264473 .main .section-1 .div-16 .div-17 .div-18 .i {
    position: absolute;
    top: 31.95px;
    left: 32px;
    width: 31.5px;
    height: 40px;
  }
  .body-1264473 .main .section-1 .div-16 .div-17 .div-18 .h3 {
    position: absolute;
    top: 88px;
    left: 32px;
    width: 373.33px;
    height: 28px;
    background: rgba(0, 0, 0, 0);
  }
  .body-1264473 .main .section-1 .div-16 .div-17 .div-18 .h3 .expert-mentorship {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 166px;
    height: 28px;
    white-space: nowrap;
    color: #000000;
    font-family: "Roboto";
    font-size: 20px;
    line-height: 28px;
    font-weight: 600;
  }
  .body-1264473 .main .section-1 .div-16 .div-17 .div-18 .p-1 {
    position: absolute;
    top: 132px;
    left: 32px;
    width: 373.33px;
    height: 48px;
    background: rgba(0, 0, 0, 0);
  }
  .body-1264473 .main .section-1 .div-16 .div-17 .div-18 .p-1 .get-personalized-guidance-from-financial-experts-with-proven-track-record {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 349px;
    height: 48px;
    white-space: nowrap;
    color: #4B5563;
    font-family: "Roboto";
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
  }
  .body-1264473 .main .section-1 .div-16 .div-17 .div-19 {
    position: absolute;
    top: 0px;
    left: 469.33px;
    width: 437.33px;
    height: 212px;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    flex-wrap: wrap;
    row-gap: 10px;
    column-gap: 10px;
    padding: 32px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%), #ffffff;
  }
  .body-1264473 .main .section-1 .div-16 .div-17 .div-19 .i-1 {
    position: absolute;
    top: 31.95px;
    left: 31.67px;
    width: 40.5px;
    height: 40px;
  }
  .body-1264473 .main .section-1 .div-16 .div-17 .div-19 .h3-1 {
    position: absolute;
    top: 88px;
    left: 32px;
    width: 373.33px;
    height: 28px;
    background: rgba(0, 0, 0, 0);
  }
  .body-1264473 .main .section-1 .div-16 .div-17 .div-19 .h3-1 .financial-support {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 158px;
    height: 28px;
    white-space: nowrap;
    color: #000000;
    font-family: "Roboto";
    font-size: 20px;
    line-height: 28px;
    font-weight: 600;
  }
  .body-1264473 .main .section-1 .div-16 .div-17 .div-19 .p-2 {
    position: absolute;
    top: 132px;
    left: 32px;
    width: 373.33px;
    height: 48px;
    background: rgba(0, 0, 0, 0);
  }
  .body-1264473 .main .section-1 .div-16 .div-17 .div-19 .p-2 .monthly-financial-assistance-to-help-you-achieve-debt-free-status-faster {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 344px;
    height: 48px;
    white-space: nowrap;
    color: #4B5563;
    font-family: "Roboto";
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
  }
  .body-1264473 .main .section-1 .div-16 .div-17 .div-20 {
    position: absolute;
    top: 0px;
    left: 938.66px;
    width: 437.34px;
    height: 212px;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    flex-wrap: wrap;
    row-gap: 10px;
    column-gap: 10px;
    padding: 32px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%), #ffffff;
  }
  .body-1264473 .main .section-1 .div-16 .div-17 .div-20 .i-2 {
    position: absolute;
    top: 31.95px;
    left: 31.34px;
    width: 45px;
    height: 40px;
  }
  .body-1264473 .main .section-1 .div-16 .div-17 .div-20 .h3-2 {
    position: absolute;
    top: 88px;
    left: 32px;
    width: 373.34px;
    height: 28px;
    background: rgba(0, 0, 0, 0);
  }
  .body-1264473 .main .section-1 .div-16 .div-17 .div-20 .h3-2 .community-support {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 180px;
    height: 28px;
    white-space: nowrap;
    color: #000000;
    font-family: "Roboto";
    font-size: 20px;
    line-height: 28px;
    font-weight: 600;
  }
  .body-1264473 .main .section-1 .div-16 .div-17 .div-20 .p-3 {
    position: absolute;
    top: 132px;
    left: 32px;
    width: 373.34px;
    height: 48px;
    background: rgba(0, 0, 0, 0);
  }
  .body-1264473 .main .section-1 .div-16 .div-17 .div-20 .p-3 .join-an-exclusive-community-of-like-minded-individuals-on-the-same-journey {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 311px;
    height: 48px;
    white-space: nowrap;
    color: #4B5563;
    font-family: "Roboto";
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
  }
  .body-1264473 .main .section-2 {
    position: absolute;
    top: 1280px;
    left: 0px;
    width: 1440px;
    height: 404px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    flex-wrap: wrap;
    row-gap: 10px;
    column-gap: 10px;
    padding: 80px 0px 80px 0px;
    background: #F3F4F6;
  }
  .body-1264473 .main .section-2 .div-21 {
    position: absolute;
    top: 80px;
    left: 0px;
    width: 1440px;
    height: 244px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    flex-wrap: wrap;
    row-gap: 10px;
    column-gap: 10px;
    padding: 0px 32px 0px 32px;
    background: rgba(0, 0, 0, 0);
  }
  .body-1264473 .main .section-2 .div-21 .h2-1 {
    position: absolute;
    top: 0px;
    left: 32px;
    width: 1376px;
    height: 36px;
    background: rgba(0, 0, 0, 0);
  }
  .body-1264473 .main .section-2 .div-21 .h2-1 .success-stories {
    position: absolute;
    top: 0px;
    left: 579.49px;
    width: 217px;
    height: 36px;
    white-space: nowrap;
    color: #000000;
    font-family: "Roboto";
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    text-align: center;
  }
  .body-1264473 .main .section-2 .div-21 .div-22 {
    position: absolute;
    top: 84px;
    left: 32px;
    width: 1376px;
    height: 160px;
    background: rgba(0, 0, 0, 0);
  }
  .body-1264473 .main .section-2 .div-21 .div-22 .div-23 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 437.33px;
    height: 160px;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    flex-wrap: wrap;
    row-gap: 10px;
    column-gap: 10px;
    padding: 24px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%), #ffffff;
  }
  .body-1264473 .main .section-2 .div-21 .div-22 .div-23 .div-24 {
    position: absolute;
    top: 24px;
    left: 24px;
    width: 389.33px;
    height: 48px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 0px;
    background: rgba(0, 0, 0, 0);
  }
  .body-1264473 .main .section-2 .div-21 .div-22 .div-23 .div-24 .i-3 {
    position: absolute;
    top: 3.95px;
    left: 0px;
    width: 36px;
    height: 40px;
  }
  .body-1264473 .main .section-2 .div-21 .div-22 .div-23 .div-24 .div-25 {
    position: absolute;
    top: 0px;
    left: 52px;
    width: 155.84px;
    height: 48px;
    background: rgba(0, 0, 0, 0);
  }
  .body-1264473 .main .section-2 .div-21 .div-22 .div-23 .div-24 .div-25 .h4 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 155.84px;
    height: 24px;
    background: rgba(0, 0, 0, 0);
  }
  .body-1264473 .main .section-2 .div-21 .div-22 .div-23 .div-24 .div-25 .h4 .john-smith {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 82px;
    height: 24px;
    white-space: nowrap;
    color: #000000;
    font-family: "Roboto";
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
  }
  .body-1264473 .main .section-2 .div-21 .div-22 .div-23 .div-24 .div-25 .p-4 {
    position: absolute;
    top: 24px;
    left: 0px;
    width: 155.84px;
    height: 24px;
    background: rgba(0, 0, 0, 0);
  }
  .body-1264473 .main .section-2 .div-21 .div-22 .div-23 .div-24 .div-25 .p-4 .debt-free-in-6-months {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 156px;
    height: 24px;
    white-space: nowrap;
    color: #4B5563;
    font-family: "Roboto";
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
  }
  .body-1264473 .main .section-2 .div-21 .div-22 .div-23 .p-5 {
    position: absolute;
    top: 88px;
    left: 24px;
    width: 389.33px;
    height: 48px;
    background: rgba(0, 0, 0, 0);
  }
  .body-1264473 .main .section-2 .div-21 .div-22 .div-23 .p-5 .text-the-program-helped-me-clear-my-15l-loan-in-just-6-months-the-strategies-really-work {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 372px;
    height: 48px;
    white-space: nowrap;
    color: #4B5563;
    font-family: "Roboto";
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
  }
  .body-1264473 .main .section-2 .div-21 .div-22 .div-26 {
    position: absolute;
    top: 0px;
    left: 469.33px;
    width: 437.33px;
    height: 160px;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    flex-wrap: wrap;
    row-gap: 10px;
    column-gap: 10px;
    padding: 24px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%), #ffffff;
  }
  .body-1264473 .main .section-2 .div-21 .div-22 .div-26 .div-27 {
    position: absolute;
    top: 24px;
    left: 24px;
    width: 389.33px;
    height: 48px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 0px;
    background: rgba(0, 0, 0, 0);
  }
  .body-1264473 .main .section-2 .div-21 .div-22 .div-26 .div-27 .i-4 {
    position: absolute;
    top: 3.95px;
    left: -0.33px;
    width: 36px;
    height: 40px;
  }
  .body-1264473 .main .section-2 .div-21 .div-22 .div-26 .div-27 .div-28 {
    position: absolute;
    top: 0px;
    left: 52px;
    width: 152.83px;
    height: 48px;
    background: rgba(0, 0, 0, 0);
  }
  .body-1264473 .main .section-2 .div-21 .div-22 .div-26 .div-27 .div-28 .h4-1 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 152.83px;
    height: 24px;
    background: rgba(0, 0, 0, 0);
  }
  .body-1264473 .main .section-2 .div-21 .div-22 .div-26 .div-27 .div-28 .h4-1 .sarah-johnson {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 108px;
    height: 24px;
    white-space: nowrap;
    color: #000000;
    font-family: "Roboto";
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
  }
  .body-1264473 .main .section-2 .div-21 .div-22 .div-26 .div-27 .div-28 .p-6 {
    position: absolute;
    top: 24px;
    left: 0px;
    width: 152.83px;
    height: 24px;
    background: rgba(0, 0, 0, 0);
  }
  .body-1264473 .main .section-2 .div-21 .div-22 .div-26 .div-27 .div-28 .p-6 .saved-8000-monthly {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 153px;
    height: 24px;
    white-space: nowrap;
    color: #4B5563;
    font-family: "Roboto";
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
  }
  .body-1264473 .main .section-2 .div-21 .div-22 .div-26 .p-7 {
    position: absolute;
    top: 88px;
    left: 24px;
    width: 389.33px;
    height: 48px;
    background: rgba(0, 0, 0, 0);
  }
  .body-1264473 .main .section-2 .div-21 .div-22 .div-26 .p-7 .text-i-learned-to-manage-my-finances-better-and-now-save-8000-every-month {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 384px;
    height: 48px;
    white-space: nowrap;
    color: #4B5563;
    font-family: "Roboto";
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
  }
  .body-1264473 .main .section-2 .div-21 .div-22 .div-29 {
    position: absolute;
    top: 0px;
    left: 938.66px;
    width: 437.34px;
    height: 160px;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    flex-wrap: wrap;
    row-gap: 10px;
    column-gap: 10px;
    padding: 24px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%), #ffffff;
  }
  .body-1264473 .main .section-2 .div-21 .div-22 .div-29 .div-30 {
    position: absolute;
    top: 24px;
    left: 24px;
    width: 389.34px;
    height: 48px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 0px;
    background: rgba(0, 0, 0, 0);
  }
  .body-1264473 .main .section-2 .div-21 .div-22 .div-29 .div-30 .i-5 {
    position: absolute;
    top: 3.95px;
    left: -0.66px;
    width: 36px;
    height: 40px;
  }
  .body-1264473 .main .section-2 .div-21 .div-22 .div-29 .div-30 .div-31 {
    position: absolute;
    top: 0px;
    left: 52px;
    width: 155.75px;
    height: 48px;
    background: rgba(0, 0, 0, 0);
  }
  .body-1264473 .main .section-2 .div-21 .div-22 .div-29 .div-30 .div-31 .h4-2 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 155.75px;
    height: 24px;
    background: rgba(0, 0, 0, 0);
  }
  .body-1264473 .main .section-2 .div-21 .div-22 .div-29 .div-30 .div-31 .h4-2 .mike-brown {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 85px;
    height: 24px;
    white-space: nowrap;
    color: #000000;
    font-family: "Roboto";
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
  }
  .body-1264473 .main .section-2 .div-21 .div-22 .div-29 .div-30 .div-31 .p-8 {
    position: absolute;
    top: 24px;
    left: 0px;
    width: 155.75px;
    height: 24px;
    background: rgba(0, 0, 0, 0);
  }
  .body-1264473 .main .section-2 .div-21 .div-22 .div-29 .div-30 .div-31 .p-8 .reduced-emis-by-40 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 156px;
    height: 24px;
    white-space: nowrap;
    color: #4B5563;
    font-family: "Roboto";
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
  }
  .body-1264473 .main .section-2 .div-21 .div-22 .div-29 .p-9 {
    position: absolute;
    top: 88px;
    left: 24px;
    width: 389.34px;
    height: 48px;
    background: rgba(0, 0, 0, 0);
  }
  .body-1264473 .main .section-2 .div-21 .div-22 .div-29 .p-9 .text-the-expert-guidance-helped-me-restructure-my-loans-and-reduce-emis-significantly {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 379px;
    height: 48px;
    white-space: nowrap;
    color: #4B5563;
    font-family: "Roboto";
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
  }
  .body-1264473 .main .section-3 {
    position: absolute;
    top: 1684px;
    left: 0px;
    width: 1440px;
    height: 520px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    flex-wrap: wrap;
    row-gap: 10px;
    column-gap: 10px;
    padding: 80px 0px 80px 0px;
    background: rgba(0, 0, 0, 0);
  }
  .body-1264473 .main .section-3 .div-32 {
    position: absolute;
    top: 80px;
    left: 0px;
    width: 1440px;
    height: 360px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    flex-wrap: wrap;
    row-gap: 10px;
    column-gap: 10px;
    padding: 0px 32px 0px 32px;
    background: rgba(0, 0, 0, 0);
  }
  .body-1264473 .main .section-3 .div-32 .h2-2 {
    position: absolute;
    top: 0px;
    left: 32px;
    width: 1376px;
    height: 36px;
    background: rgba(0, 0, 0, 0);
  }
  .body-1264473 .main .section-3 .div-32 .h2-2 .limited-time-offer-1 {
    position: absolute;
    top: 0px;
    left: 560.99px;
    width: 254px;
    height: 36px;
    white-space: nowrap;
    color: #000000;
    font-family: "Roboto";
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    text-align: center;
  }
  .body-1264473 .main .section-3 .div-32 .div-33 {
    position: absolute;
    top: 68px;
    left: 551.48px;
    width: 337.02px;
    height: 292px;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    flex-wrap: wrap;
    row-gap: 10px;
    column-gap: 10px;
    padding: 32px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%), #ffffff;
  }
  .body-1264473 .main .section-3 .div-32 .div-33 .div-34 {
    position: absolute;
    top: 32px;
    left: 32px;
    width: 273.02px;
    height: 48px;
    background: rgba(0, 0, 0, 0);
  }
  .body-1264473 .main .section-3 .div-32 .div-33 .div-34 .text-699 {
    position: absolute;
    top: 0px;
    left: 82.5px;
    width: 108px;
    height: 48px;
    white-space: nowrap;
    color: #000000;
    font-family: "Roboto";
    font-size: 48px;
    line-height: 48px;
    font-weight: 700;
    text-align: center;
  }
  .body-1264473 .main .section-3 .div-32 .div-33 .div-35 {
    position: absolute;
    top: 96px;
    left: 32px;
    width: 273.02px;
    height: 24px;
    background: rgba(0, 0, 0, 0);
  }
  .body-1264473 .main .section-3 .div-32 .div-33 .div-35 .span-6 {
    position: absolute;
    top: 2px;
    left: 25.97px;
    width: 146.38px;
    height: 19px;
    background: rgba(0, 0, 0, 0);
  }
  .body-1264473 .main .section-3 .div-32 .div-33 .div-35 .span-6 .regular-price-1999 {
    position: absolute;
    top: -2px;
    left: -0.31px;
    width: 147px;
    height: 24px;
    white-space: nowrap;
    color: #4B5563;
    text-decoration: line-through;
    font-family: "Roboto";
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    text-align: center;
  }
  .body-1264473 .main .section-3 .div-32 .div-33 .div-35 .text-2 {
    position: absolute;
    top: 0px;
    left: 173.83px;
    width: 1px;
    height: 24px;
    white-space: nowrap;
    color: #4B5563;
    font-family: "Roboto";
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    text-align: center;
  }
  .body-1264473 .main .section-3 .div-32 .div-33 .div-35 .span-7 {
    position: absolute;
    top: 2px;
    left: 184.31px;
    width: 62.73px;
    height: 19px;
    background: rgba(0, 0, 0, 0);
  }
  .body-1264473 .main .section-3 .div-32 .div-33 .div-35 .span-7 .text-65-off {
    position: absolute;
    top: -2px;
    left: -0.13px;
    width: 63px;
    height: 24px;
    white-space: nowrap;
    color: #000000;
    font-family: "Roboto";
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    text-align: center;
  }
  .body-1264473 .main .section-3 .div-32 .div-33 .button-2 {
    position: absolute;
    top: 144px;
    left: 32px;
    width: 273.02px;
    height: 60px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    flex-wrap: wrap;
    row-gap: 10px;
    column-gap: 10px;
    padding: 16px 32px 16px 32px;
    background: #000000;
  }
  .body-1264473 .main .section-3 .div-32 .div-33 .button-2 .secure-your-spot-now {
    position: absolute;
    top: 16px;
    left: 34.13px;
    width: 181px;
    height: 28px;
    white-space: nowrap;
    color: #FFFFFF;
    font-family: "Roboto";
    font-size: 18px;
    line-height: 28px;
    font-weight: 700;
    text-align: center;
  }
  .body-1264473 .main .section-3 .div-32 .div-33 .button-2 .svg-10 {
    position: absolute;
    top: 19.95px;
    left: 224.52px;
    width: 15.75px;
    height: 18px;
  }
  .body-1264473 .main .section-3 .div-32 .div-33 .div-36 {
    position: absolute;
    top: 228px;
    left: 32px;
    width: 273.02px;
    height: 32px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
    flex-wrap: wrap;
    row-gap: 0px;
    background: rgba(0, 0, 0, 0);
  }
  .body-1264473 .main .section-3 .div-32 .div-33 .div-36 .img-2 {
    position: absolute;
    top: 0px;
    left: 64px;
    width: 145px;
    height: 32px;
    background: url(https://image-resource.creatie.ai/153771126248615/153771126248617/e0ec507bb3fc285d918b93f66f3b238f.png), rgba(0, 0, 0, 0);
    object-fit: cover;
    background-size: cover;
  }
  .body-1264473 .footer {
    position: absolute;
    top: 2276.05px;
    left: 0px;
    width: 1440px;
    height: 329px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    flex-wrap: wrap;
    row-gap: 10px;
    column-gap: 10px;
    padding: 48px 0px 48px 0px;
    background: #111827;
  }
  .body-1264473 .footer .div-37 {
    position: absolute;
    top: 48px;
    left: 0px;
    width: 1440px;
    height: 233px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    flex-wrap: wrap;
    row-gap: 10px;
    column-gap: 10px;
    padding: 0px 32px 0px 32px;
    background: rgba(0, 0, 0, 0);
  }
  .body-1264473 .footer .div-37 .div-38 {
    position: absolute;
    top: 0px;
    left: 32px;
    width: 1376px;
    height: 128px;
    background: rgba(0, 0, 0, 0);
  }
  .body-1264473 .footer .div-37 .div-38 .div-39 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 320px;
    height: 128px;
    background: rgba(0, 0, 0, 0);
  }
  .body-1264473 .footer .div-37 .div-38 .div-39 .img-3 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 32px;
    height: 32px;
    background: url(https://image-resource.creatie.ai/153771126248615/153771126248617/75b3ef6bdbfeed6aa6499fc1a28b8188.png), rgba(0, 0, 0, 0);
    object-fit: cover;
    background-size: cover;
  }
  .body-1264473 .footer .div-37 .div-38 .div-39 .p-10 {
    position: absolute;
    top: 48px;
    left: 0px;
    width: 320px;
    height: 24px;
    background: rgba(0, 0, 0, 0);
  }
  .body-1264473 .footer .div-37 .div-38 .div-39 .p-10 .your-path-to-financial-freedom-starts-here {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 300px;
    height: 24px;
    white-space: nowrap;
    color: #9CA3AF;
    font-family: "Roboto";
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
  }
  .body-1264473 .footer .div-37 .div-38 .div-40 {
    position: absolute;
    top: 0px;
    left: 352px;
    width: 320px;
    height: 128px;
    background: rgba(0, 0, 0, 0);
  }
  .body-1264473 .footer .div-37 .div-38 .div-40 .h4-3 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 320px;
    height: 24px;
    background: rgba(0, 0, 0, 0);
  }
  .body-1264473 .footer .div-37 .div-38 .div-40 .h4-3 .quick-links {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 84px;
    height: 24px;
    white-space: nowrap;
    color: #FFFFFF;
    font-family: "Roboto";
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
  }
  .body-1264473 .footer .div-37 .div-38 .div-40 .ul {
    position: absolute;
    top: 40px;
    left: 0px;
    width: 320px;
    height: 88px;
    background: rgba(0, 0, 0, 0);
  }
  .body-1264473 .footer .div-37 .div-38 .div-40 .ul .li {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 320px;
    height: 24px;
    background: rgba(0, 0, 0, 0);
  }
  .body-1264473 .footer .div-37 .div-38 .div-40 .ul .li .a {
    position: absolute;
    top: 2px;
    left: 0px;
    width: 65.17px;
    height: 19px;
    background: rgba(0, 0, 0, 0);
  }
  .body-1264473 .footer .div-37 .div-38 .div-40 .ul .li .a .about-us {
    position: absolute;
    top: -2px;
    left: 0px;
    width: 66px;
    height: 24px;
    white-space: nowrap;
    color: #9CA3AF;
    font-family: "Roboto";
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
  }
  .body-1264473 .footer .div-37 .div-38 .div-40 .ul .li-1 {
    position: absolute;
    top: 32px;
    left: 0px;
    width: 320px;
    height: 24px;
    background: rgba(0, 0, 0, 0);
  }
  .body-1264473 .footer .div-37 .div-38 .div-40 .ul .li-1 .a-1 {
    position: absolute;
    top: 2px;
    left: 0px;
    width: 94.91px;
    height: 19px;
    background: rgba(0, 0, 0, 0);
  }
  .body-1264473 .footer .div-37 .div-38 .div-40 .ul .li-1 .a-1 .how-it-works {
    position: absolute;
    top: -2px;
    left: 0px;
    width: 95px;
    height: 24px;
    white-space: nowrap;
    color: #9CA3AF;
    font-family: "Roboto";
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
  }
  .body-1264473 .footer .div-37 .div-38 .div-40 .ul .li-2 {
    position: absolute;
    top: 64px;
    left: 0px;
    width: 320px;
    height: 24px;
    background: rgba(0, 0, 0, 0);
  }
  .body-1264473 .footer .div-37 .div-38 .div-40 .ul .li-2 .a-2 {
    position: absolute;
    top: 2px;
    left: 0px;
    width: 113.72px;
    height: 19px;
    background: rgba(0, 0, 0, 0);
  }
  .body-1264473 .footer .div-37 .div-38 .div-40 .ul .li-2 .a-2 .success-stories-1 {
    position: absolute;
    top: -2px;
    left: 0px;
    width: 114px;
    height: 24px;
    white-space: nowrap;
    color: #9CA3AF;
    font-family: "Roboto";
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
  }
  .body-1264473 .footer .div-37 .div-38 .div-41 {
    position: absolute;
    top: 0px;
    left: 704px;
    width: 320px;
    height: 128px;
    background: rgba(0, 0, 0, 0);
  }
  .body-1264473 .footer .div-37 .div-38 .div-41 .h4-4 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 320px;
    height: 24px;
    background: rgba(0, 0, 0, 0);
  }
  .body-1264473 .footer .div-37 .div-38 .div-41 .h4-4 .support {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 58px;
    height: 24px;
    white-space: nowrap;
    color: #FFFFFF;
    font-family: "Roboto";
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
  }
  .body-1264473 .footer .div-37 .div-38 .div-41 .ul-1 {
    position: absolute;
    top: 40px;
    left: 0px;
    width: 320px;
    height: 88px;
    background: rgba(0, 0, 0, 0);
  }
  .body-1264473 .footer .div-37 .div-38 .div-41 .ul-1 .li-3 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 320px;
    height: 24px;
    background: rgba(0, 0, 0, 0);
  }
  .body-1264473 .footer .div-37 .div-38 .div-41 .ul-1 .li-3 .a-3 {
    position: absolute;
    top: 2px;
    left: 0px;
    width: 37.13px;
    height: 19px;
    background: rgba(0, 0, 0, 0);
  }
  .body-1264473 .footer .div-37 .div-38 .div-41 .ul-1 .li-3 .a-3 .faqs {
    position: absolute;
    top: -2px;
    left: 0px;
    width: 38px;
    height: 24px;
    white-space: nowrap;
    color: #9CA3AF;
    font-family: "Roboto";
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
  }
  .body-1264473 .footer .div-37 .div-38 .div-41 .ul-1 .li-4 {
    position: absolute;
    top: 32px;
    left: 0px;
    width: 320px;
    height: 24px;
    background: rgba(0, 0, 0, 0);
  }
  .body-1264473 .footer .div-37 .div-38 .div-41 .ul-1 .li-4 .a-4 {
    position: absolute;
    top: 2px;
    left: 0px;
    width: 78.48px;
    height: 19px;
    background: rgba(0, 0, 0, 0);
  }
  .body-1264473 .footer .div-37 .div-38 .div-41 .ul-1 .li-4 .a-4 .contact-us-1 {
    position: absolute;
    top: -2px;
    left: 0px;
    width: 79px;
    height: 24px;
    white-space: nowrap;
    color: #9CA3AF;
    font-family: "Roboto";
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
  }
  .body-1264473 .footer .div-37 .div-38 .div-41 .ul-1 .li-5 {
    position: absolute;
    top: 64px;
    left: 0px;
    width: 320px;
    height: 24px;
    background: rgba(0, 0, 0, 0);
  }
  .body-1264473 .footer .div-37 .div-38 .div-41 .ul-1 .li-5 .a-5 {
    position: absolute;
    top: 2px;
    left: 0px;
    width: 98.47px;
    height: 19px;
    background: rgba(0, 0, 0, 0);
  }
  .body-1264473 .footer .div-37 .div-38 .div-41 .ul-1 .li-5 .a-5 .privacy-policy {
    position: absolute;
    top: -2px;
    left: 0px;
    width: 99px;
    height: 24px;
    white-space: nowrap;
    color: #9CA3AF;
    font-family: "Roboto";
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
  }
  .body-1264473 .footer .div-37 .div-38 .div-42 {
    position: absolute;
    top: 0px;
    left: 1056px;
    width: 320px;
    height: 128px;
    background: rgba(0, 0, 0, 0);
  }
  .body-1264473 .footer .div-37 .div-38 .div-42 .h4-5 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 320px;
    height: 24px;
    background: rgba(0, 0, 0, 0);
  }
  .body-1264473 .footer .div-37 .div-38 .div-42 .h4-5 .connect-with-us {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 119px;
    height: 24px;
    white-space: nowrap;
    color: #FFFFFF;
    font-family: "Roboto";
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
  }
  .body-1264473 .footer .div-37 .div-38 .div-42 .div-43 {
    position: absolute;
    top: 39.95px;
    left: 0px;
    width: 320px;
    height: 24px;
  }
  .body-1264473 .footer .div-37 .div-44 {
    position: absolute;
    top: 176px;
    left: 32px;
    width: 1376px;
    height: 57px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    flex-wrap: wrap;
    row-gap: 10px;
    column-gap: 10px;
    padding: 32px 0px 0px 0px;
    background: rgba(0, 0, 0, 0);
    border-width: 1px 0px 0px 0px;
    border-style: solid;
    border-color: #1F2937;
  }
  .body-1264473 .footer .div-37 .div-44 .p-11 {
    position: absolute;
    top: 33px;
    left: 0px;
    width: 1376px;
    height: 24px;
    background: rgba(0, 0, 0, 0);
  }
  .body-1264473 .footer .div-37 .div-44 .p-11 .text--2024-financial-freedom-program-all-rights-reserved {
    position: absolute;
    top: 0px;
    left: 491px;
    width: 394px;
    height: 24px;
    white-space: nowrap;
    color: #9CA3AF;
    font-family: "Roboto";
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    text-align: center;
  }
  