
  .body-1265237 .main {
    position: absolute;
    top: 64.05px;
    left: 0px;
    width: 1440px;
    height: 1077.5px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    flex-wrap: wrap;
    row-gap: 10px;
    column-gap: 10px;
    padding: 48px 32px 48px 32px;
    background: rgba(0, 0, 0, 0);
  }
  .body-1265237 .main .div {
    position: absolute;
    top: 48px;
    left: 32px;
    width: 1376px;
    height: 373.5px;
    background: rgba(0, 0, 0, 0);
  }
  .body-1265237 .main .div .div-1 {
    position: absolute;
    top: 78.75px;
    left: 712px;
    width: 664px;
    height: 216px;
    background: rgba(0, 0, 0, 0);
  }
  .body-1265237 .main .div .div-1 .h1 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 664px;
    height: 72px;
    background: rgba(0, 0, 0, 0);
  }
  .body-1265237 .main .div .div-1 .h1 .watch-sudeep-corporate-employee-kaise-chukaya-2l-loan--6-months-mein {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 577px;
    height: 72px;
    white-space: nowrap;
    color: #000000;
    font-family: "Roboto";
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
  }
  .body-1265237 .main .div .div-1 .p {
    position: absolute;
    top: 96px;
    left: 0px;
    width: 664px;
    height: 28px;
    background: rgba(0, 0, 0, 0);
  }
  .body-1265237 .main .div .div-1 .p .text-dosto-yeh-webinar-sirf-699-ka-nahi-life-changing-hai {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 493px;
    height: 28px;
    white-space: nowrap;
    color: #4B5563;
    font-family: "Roboto";
    font-size: 20px;
    line-height: 28px;
    font-weight: 400;
  }
  .body-1265237 .main .div .div-1 .button {
    position: absolute;
    top: 156px;
    left: 0px;
    width: 664px;
    height: 60px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    flex-wrap: wrap;
    row-gap: 10px;
    column-gap: 10px;
    padding: 16px 32px 16px 32px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%), linear-gradient(90deg, #2563eb 0%, #4f46e5 100%);
  }
  .body-1265237 .main .div .div-1 .button .text--699--- {
    position: absolute;
    top: 16px;
    left: 257.99px;
    width: 148px;
    height: 28px;
    white-space: nowrap;
    color: #FFFFFF;
    font-family: "Roboto";
    font-size: 18px;
    line-height: 28px;
    font-weight: 500;
    text-align: center;
  }
  .body-1265237 .main .div .div-2 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 664px;
    height: 373.5px;
    border-radius: 8px;
    overflow: hidden;
    background: #F3F4F6;
  }
  .body-1265237 .main .div .div-2 .player {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 664px;
    height: 373.5px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
    overflow: hidden;
    background: rgba(0, 0, 0, 0);
  }
  .body-1265237 .main .div .div-2 .player .div-3 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 664px;
    height: 373.5px;
    overflow: hidden;
    background: #000000;
  }
  .body-1265237 .main .div .div-2 .player .div-3 .youtube-4859 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 664px;
    height: 373.5px;
    background: url(https://image-resource.creatie.ai/153771126248615/153771126248617/b491fdc99b5d328d1a3eea47b2439154.png), url(https://image-resource.creatie.ai/153771126248615/153771126248617/b491fdc99b5d328d1a3eea47b2439154.png), url(https://image-resource.creatie.ai/153771126248615/153771126248617/b491fdc99b5d328d1a3eea47b2439154.png), rgba(0, 0, 0, 0);
    object-fit: cover;
    background-size: cover;
  }
  .body-1265237 .main .div .div-2 .div-4 {
    position: absolute;
    top: -0.05px;
    left: 0px;
    width: 664px;
    height: 373.5px;
  }
  .body-1265237 .main .div-5 {
    position: absolute;
    top: 485.5px;
    left: 32px;
    width: 1376px;
    height: 216px;
    box-shadow: 0px 4px 6px -4px rgba(0, 0, 0, 0.1), 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4px);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    flex-wrap: wrap;
    row-gap: 10px;
    column-gap: 10px;
    padding: 32px;
    overflow: hidden;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%), rgba(255, 255, 255, 0.9);
  }
  .body-1265237 .main .div-5 .h2 {
    position: absolute;
    top: 32px;
    left: 32px;
    width: 1312px;
    height: 32px;
    background: rgba(0, 0, 0, 0);
  }
  .body-1265237 .main .div-5 .h2 .text--- {
    position: absolute;
    top: 0px;
    left: 583.49px;
    width: 145px;
    height: 32px;
    white-space: nowrap;
    color: #000000;
    font-family: "Roboto";
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
    text-align: center;
  }
  .body-1265237 .main .div-5 .div-6 {
    position: absolute;
    top: 96px;
    left: 32px;
    width: 1312px;
    height: 88px;
    background: rgba(0, 0, 0, 0);
  }
  .body-1265237 .main .div-5 .div-6 .div-7 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 644px;
    height: 32px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    flex-wrap: wrap;
    row-gap: 0px;
    background: rgba(0, 0, 0, 0);
  }
  .body-1265237 .main .div-5 .div-6 .div-7 .i {
    position: absolute;
    top: 3.45px;
    left: 0px;
    width: 20px;
    height: 28px;
  }
  .body-1265237 .main .div-5 .div-6 .div-7 .p-1 {
    position: absolute;
    top: 0px;
    left: 36px;
    width: 247.41px;
    height: 28px;
    background: rgba(0, 0, 0, 0);
  }
  .body-1265237 .main .div-5 .div-6 .div-7 .p-1 .text---emis----- {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 227px;
    height: 28px;
    white-space: nowrap;
    color: #000000;
    font-family: "Roboto";
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
  }
  .body-1265237 .main .div-5 .div-6 .div-8 {
    position: absolute;
    top: 0px;
    left: 668px;
    width: 644px;
    height: 32px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    flex-wrap: wrap;
    row-gap: 0px;
    background: rgba(0, 0, 0, 0);
  }
  .body-1265237 .main .div-5 .div-6 .div-8 .i-1 {
    position: absolute;
    top: 3.45px;
    left: 0px;
    width: 20px;
    height: 28px;
  }
  .body-1265237 .main .div-5 .div-6 .div-8 .p-2 {
    position: absolute;
    top: 0px;
    left: 36px;
    width: 331.45px;
    height: 28px;
    background: rgba(0, 0, 0, 0);
  }
  .body-1265237 .main .div-5 .div-6 .div-8 .p-2 .text--------- {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 279px;
    height: 28px;
    white-space: nowrap;
    color: #000000;
    font-family: "Roboto";
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
  }
  .body-1265237 .main .div-5 .div-6 .div-9 {
    position: absolute;
    top: 56px;
    left: 0px;
    width: 644px;
    height: 32px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    flex-wrap: wrap;
    row-gap: 0px;
    background: rgba(0, 0, 0, 0);
  }
  .body-1265237 .main .div-5 .div-6 .div-9 .i-2 {
    position: absolute;
    top: 3.45px;
    left: 0px;
    width: 20px;
    height: 28px;
  }
  .body-1265237 .main .div-5 .div-6 .div-9 .p-3 {
    position: absolute;
    top: 0px;
    left: 36px;
    width: 247.19px;
    height: 28px;
    background: rgba(0, 0, 0, 0);
  }
  .body-1265237 .main .div-5 .div-6 .div-9 .p-3 .text-------- {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 244px;
    height: 28px;
    white-space: nowrap;
    color: #000000;
    font-family: "Roboto";
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
  }
  .body-1265237 .main .div-5 .div-6 .div-10 {
    position: absolute;
    top: 56px;
    left: 668px;
    width: 644px;
    height: 32px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    flex-wrap: wrap;
    row-gap: 0px;
    background: rgba(0, 0, 0, 0);
  }
  .body-1265237 .main .div-5 .div-6 .div-10 .i-3 {
    position: absolute;
    top: 3.45px;
    left: 0px;
    width: 20px;
    height: 28px;
  }
  .body-1265237 .main .div-5 .div-6 .div-10 .p-4 {
    position: absolute;
    top: 0px;
    left: 36px;
    width: 342.81px;
    height: 28px;
    background: rgba(0, 0, 0, 0);
  }
  .body-1265237 .main .div-5 .div-6 .div-10 .p-4 .text-------emi--- {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 310px;
    height: 28px;
    white-space: nowrap;
    color: #000000;
    font-family: "Roboto";
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
  }
  .body-1265237 .main .div-11 {
    position: absolute;
    top: 765.5px;
    left: 32px;
    width: 1376px;
    height: 264px;
    box-shadow: 0px 4px 6px -4px rgba(0, 0, 0, 0.1), 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4px);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    flex-wrap: wrap;
    row-gap: 10px;
    column-gap: 10px;
    padding: 32px;
    overflow: hidden;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%), rgba(255, 255, 255, 0.9);
  }
  .body-1265237 .main .div-11 .h2-1 {
    position: absolute;
    top: 32px;
    left: 32px;
    width: 1312px;
    height: 32px;
    background: rgba(0, 0, 0, 0);
  }
  .body-1265237 .main .div-11 .h2-1 .text--3-secrets---debt--bye-bye {
    position: absolute;
    top: 0px;
    left: 456px;
    width: 400px;
    height: 32px;
    white-space: nowrap;
    color: #000000;
    font-family: "Roboto";
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
    text-align: center;
  }
  .body-1265237 .main .div-11 .div-12 {
    position: absolute;
    top: 96px;
    left: 32px;
    width: 1312px;
    height: 136px;
    background: rgba(0, 0, 0, 0);
  }
  .body-1265237 .main .div-11 .div-12 .div-13 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 416px;
    height: 136px;
    background: rgba(0, 0, 0, 0);
  }
  .body-1265237 .main .div-11 .div-12 .div-13 .div-14 {
    position: absolute;
    top: -0.55px;
    left: 176px;
    width: 64px;
    height: 64px;
  }
  .body-1265237 .main .div-11 .div-12 .div-13 .h3 {
    position: absolute;
    top: 80px;
    left: 0px;
    width: 416px;
    height: 24px;
    background: rgba(0, 0, 0, 0);
  }
  .body-1265237 .main .div-11 .div-12 .div-13 .h3 .text- {
    position: absolute;
    top: 0px;
    left: 182.49px;
    width: 51px;
    height: 24px;
    white-space: nowrap;
    color: #000000;
    font-family: "Roboto";
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    text-align: center;
  }
  .body-1265237 .main .div-11 .div-12 .div-13 .p-5 {
    position: absolute;
    top: 112px;
    left: 0px;
    width: 416px;
    height: 24px;
    background: rgba(0, 0, 0, 0);
  }
  .body-1265237 .main .div-11 .div-12 .div-13 .p-5 .text------ {
    position: absolute;
    top: 0px;
    left: 112.99px;
    width: 190px;
    height: 24px;
    white-space: nowrap;
    color: #4B5563;
    font-family: "Roboto";
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    text-align: center;
  }
  .body-1265237 .main .div-11 .div-12 .div-15 {
    position: absolute;
    top: 0px;
    left: 448px;
    width: 416px;
    height: 136px;
    background: rgba(0, 0, 0, 0);
  }
  .body-1265237 .main .div-11 .div-12 .div-15 .div-16 {
    position: absolute;
    top: -0.55px;
    left: 176px;
    width: 64px;
    height: 64px;
  }
  .body-1265237 .main .div-11 .div-12 .div-15 .h3-1 {
    position: absolute;
    top: 80px;
    left: 0px;
    width: 416px;
    height: 24px;
    background: rgba(0, 0, 0, 0);
  }
  .body-1265237 .main .div-11 .div-12 .div-15 .h3-1 .text--1 {
    position: absolute;
    top: 0px;
    left: 189.49px;
    width: 37px;
    height: 24px;
    white-space: nowrap;
    color: #000000;
    font-family: "Roboto";
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    text-align: center;
  }
  .body-1265237 .main .div-11 .div-12 .div-15 .p-6 {
    position: absolute;
    top: 112px;
    left: 0px;
    width: 416px;
    height: 24px;
    background: rgba(0, 0, 0, 0);
  }
  .body-1265237 .main .div-11 .div-12 .div-15 .p-6 .text--1000----10k-30k--- {
    position: absolute;
    top: 0px;
    left: 55px;
    width: 306px;
    height: 24px;
    white-space: nowrap;
    color: #4B5563;
    font-family: "Roboto";
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    text-align: center;
  }
  .body-1265237 .main .div-11 .div-12 .div-17 {
    position: absolute;
    top: 0px;
    left: 896px;
    width: 416px;
    height: 136px;
    background: rgba(0, 0, 0, 0);
  }
  .body-1265237 .main .div-11 .div-12 .div-17 .div-18 {
    position: absolute;
    top: -0.55px;
    left: 176px;
    width: 64px;
    height: 64px;
  }
  .body-1265237 .main .div-11 .div-12 .div-17 .h3-2 {
    position: absolute;
    top: 80px;
    left: 0px;
    width: 416px;
    height: 24px;
    background: rgba(0, 0, 0, 0);
  }
  .body-1265237 .main .div-11 .div-12 .div-17 .h3-2 .text--2 {
    position: absolute;
    top: 0px;
    left: 180.49px;
    width: 55px;
    height: 24px;
    white-space: nowrap;
    color: #000000;
    font-family: "Roboto";
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    text-align: center;
  }
  .body-1265237 .main .div-11 .div-12 .div-17 .p-7 {
    position: absolute;
    top: 112px;
    left: 0px;
    width: 416px;
    height: 24px;
    background: rgba(0, 0, 0, 0);
  }
  .body-1265237 .main .div-11 .div-12 .div-17 .p-7 .text---10-000--- {
    position: absolute;
    top: 0px;
    left: 108px;
    width: 200px;
    height: 24px;
    white-space: nowrap;
    color: #4B5563;
    font-family: "Roboto";
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    text-align: center;
  }
  .body-1265237 .footer {
    position: absolute;
    top: 1205.55px;
    left: 0px;
    width: 1440px;
    height: 85px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%), linear-gradient(177deg, #eff6ff 0%, #eef2ff 100%);
    border-width: 1px 0px 0px 0px;
    border-style: solid;
    border-color: #E5E7EB;
  }
  .body-1265237 .footer .div-19 {
    position: absolute;
    top: 1px;
    left: 0px;
    width: 1440px;
    height: 84px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    flex-wrap: wrap;
    row-gap: 10px;
    column-gap: 10px;
    padding: 32px;
    background: rgba(0, 0, 0, 0);
  }
  .body-1265237 .footer .div-19 .div-20 {
    position: absolute;
    top: 32px;
    left: 32px;
    width: 1376px;
    height: 20px;
    background: rgba(0, 0, 0, 0);
  }
  .body-1265237 .footer .div-19 .div-20 .text--2024-debt-solution-- {
    position: absolute;
    top: 0px;
    left: 568.99px;
    width: 238px;
    height: 20px;
    white-space: nowrap;
    color: #6B7280;
    font-family: "Roboto";
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    text-align: center;
  }
  .body-1265237 .nav {
    position: absolute;
    top: 0.05px;
    left: 0px;
    width: 1440px;
    height: 64px;
    box-shadow: 0px 4px 6px -4px rgba(0, 0, 0, 0.1), 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4px);
    overflow: hidden;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%), rgba(255, 255, 255, 0.8);
  }
  .body-1265237 .nav .div-21 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 1440px;
    height: 64px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    flex-wrap: wrap;
    row-gap: 10px;
    column-gap: 10px;
    padding: 0px 32px 0px 32px;
    background: rgba(0, 0, 0, 0);
  }
  .body-1265237 .nav .div-21 .div-22 {
    position: absolute;
    top: 0px;
    left: 32px;
    width: 1376px;
    height: 64px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    flex-wrap: wrap;
    row-gap: 0px;
    background: rgba(0, 0, 0, 0);
  }
  .body-1265237 .nav .div-21 .div-22 .div-23 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 32px;
    height: 64px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    flex-wrap: wrap;
    row-gap: 0px;
    background: rgba(0, 0, 0, 0);
  }
  .body-1265237 .nav .div-21 .div-22 .div-23 .div-24 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 32px;
    height: 64px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 0px;
    background: rgba(0, 0, 0, 0);
  }
  .body-1265237 .nav .div-21 .div-22 .div-23 .div-24 .img {
    position: absolute;
    top: 16px;
    left: 0px;
    width: 32px;
    height: 32px;
    background: url(https://image-resource.creatie.ai/153771126248615/153771126248617/75b3ef6bdbfeed6aa6499fc1a28b8188.png), rgba(0, 0, 0, 0);
    object-fit: cover;
    background-size: cover;
  }
  .body-1265237 .nav .div-21 .div-22 .div-25 {
    position: absolute;
    top: 0px;
    left: 1234.13px;
    width: 141.88px;
    height: 64px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 0px;
    background: rgba(0, 0, 0, 0);
  }
  .body-1265237 .nav .div-21 .div-22 .div-25 .button-2 {
    position: absolute;
    top: 14px;
    left: 0px;
    width: 141.88px;
    height: 36px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    flex-wrap: wrap;
    row-gap: 10px;
    column-gap: 10px;
    padding: 8px 24px 8px 24px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%), linear-gradient(90deg, #2563eb 0%, #4f46e5 100%);
  }
  .body-1265237 .nav .div-21 .div-22 .div-25 .button-2 .text----1 {
    position: absolute;
    top: 8px;
    left: 26.94px;
    width: 88px;
    height: 20px;
    white-space: nowrap;
    color: #FFFFFF;
    font-family: "Roboto";
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    text-align: center;
  }
  